*{
  scroll-behavior: smooth;
}

h1{
  font-size: 2.2rem;
}
.bg-blue {
  background-color: rgb(2, 85, 125);
}
.bg-yellow{
  background-color: rgb(253, 182, 66)!important;
}
.bg-hr{
  background-color: rgb(255, 212, 158);
}
.border-yellow{
  border-bottom: 4px solid rgb(253, 182, 66);
}
.custom-btn{
  border: 1px solid white!important;
  transition: transform 0.5s, font-size 0.5s!important;
  font-weight: bold!important;
}
.custom-btn:hover{
  transform: scale(1.15);
}
.navbar{
  padding: 0!important;
}

nav{
  transition: background-color 0.3s ease;
}

.scrolled {
  background-color: rgb(2, 85, 125); 
  transition: background-color 0.3s ease;
}
.scrolled-top {
  background-color: white;
  transition: background-color 0.3s ease;
}

.scrolled-top a span, .scrolled-top a img{
  color: black!important;
  padding: 5px;
  border-radius: 50%;
}
.scrolled-top a img{
  background-color: black;
}
nav{
  width: 100%;
}


.nav-font-size{
  font-size: 2em;
}

.hero {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 58px);
}

.hero video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 85, 125, 0.6);
  z-index: 0;
}

.hero .content {
  position: absolute;
  top: 25%;
  left: 5%;
  color: white;
  font-size: 2.9em;
  z-index: 1;
}

.hero .container{
  position: absolute;
  right: 10%;
}

.gap{
  gap:20px;
}

.form-control::placeholder{
  color: black!important;
}

.card{
  border-radius: 1rem!important;
}

.img-about-us{
  border: 12px solid rgb(187, 210, 220);
  border-radius: 25q;
}

.img-about-us::after{
  content: ""; 
  display: block;
  position: absolute;
  top: 7%;
  left: 0;
  width: 100%;
  height: 90%;
  border: 12px solid rgb(253, 182, 66, .3);
  border-radius: 20px;
  transform: rotate(6deg);
}

.custom-text{
  font-size: 1.1em;
}

.benefits{
  background: rgba(2, 85, 125, 0.6);
}

.benefits span{
  font-size: 2em;
}

.img-benefits{
  top: 0!important;
  z-index: -1;
  object-fit: cover;
}

.circle {
  width: 150px;
  height: 150px;
  padding: 25px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card-height{
  max-height: 450px;
}

.card-img-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(2, 85, 125, 0.45);
}


.card-img-40{
  aspect-ratio: 40/9;
}

.card-img-20{
  aspect-ratio: 20/9;
}

.zoom-on-hover {
  transition: transform 0.3s ease; 
}

.card:hover .zoom-on-hover {
  transform: scale(1.1); 
}

.team-image {
  top: 50%;
  right: 50%;
  border: 5px solid white;
  border-radius: 100%;
  width: 125px;
  transform: translateX(50%);
}

.bg-custom {
  background-image: url('src/IMAGEN\ HERO.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 85, 125, 0.6);
  z-index: 1;
}

.bg-custom > .content {
  position: relative;
  z-index: 2;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 30px solid white;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  cursor: pointer;
}
.play-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 991px) and (max-width: 1180px){
  .hero .content {
    position: absolute;
  top: 25%;
  left: 5%;
  color: white;
  font-size: 2.4em!important;
  z-index: 1;
  }

  .hero .container{
    width: 380px!important;
  }
}

@media (max-width: 991px){
  .hero{
    height: calc(126vh);

  }
  .hero .content {
    top: 15%;
    left: 0;
    font-size: 3em;
  }
  .hero .container{
    position: relative;
    right: 0;
  }

  .card-img-40,.card-img-20, .card-height{
    aspect-ratio:2/1;
  }
  .team-inner .carousel-item > div {
    display: none;
  }
  .team-inner .carousel-item > div:first-child {
      display: block;
  }
  .team-image{
    width: 200px;
  }
  .bg-custom{
    background-image: url("src/IMAGE\ TESTIMONIALS.jpg");
  }

}


.team-inner .carousel-item.active,
.team-inner .carousel-item-next,
.team-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 991px) {
    
  nav ul{
    width: 100%;
    justify-content: end;
    background-color: transparent!important;
  }

  .team-inner .carousel-item-right.active,
  .team-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .team-inner .carousel-item-left.active, 
  .team-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.team-inner .carousel-item-right,
.team-inner .carousel-item-left{ 
transform: translateX(0);
}